Source: q4wine
Section: otherosfs
Priority: optional
Maintainer: Boris Pek <tehnick@debian.org>
Build-Depends: autotools-dev,
               cmake,
               debhelper (>= 7.0.50~),
               fakeroot,
               icoutils,
               libfuse-dev [!hurd-i386],
               libkvm-dev [kfreebsd-any],
               libqt4-dev,
               qt4-dev-tools,
               qt4-qtconfig
Homepage: https://web.archive.org/web/20131204020055/http://q4wine.brezblock.org.ua/
Vcs-Git: git://github.com/tehnick/q4wine-debian.git
Vcs-Browser: https://github.com/tehnick/q4wine-debian
Standards-Version: 3.9.6

Package: q4wine
Architecture: any
Depends: icoutils,
         libqt4-sql-sqlite,
         sudo,
         wget,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: wine [any-amd64 any-i386 any-powerpc] |
            wine-development [amd64 any-i386 any-powerpc] |
            wine1.2 [amd64 i386] |
            wine1.3 [amd64 i386] |
            wine1.4 [amd64 i386] |
            wine1.5 [amd64 i386] |
            wine1.6 [amd64 i386] |
            wine1.7 [amd64 i386],
            winetricks
Suggests: fuseiso [!hurd-i386 !kfreebsd-i386 !kfreebsd-amd64]
Replaces: q4wine-unstable
Conflicts: q4wine-unstable
Description: Qt4 GUI for wine (WINE)
 Q4Wine will help you manage wine prefixes and installed applications.
 .
 General features:
  - Can export Qt color theme into wine colors settings.
  - Can easy work with different wine versions at same time.
  - Easy creating, deleting and managing prefixes (WINEPREFIX).
  - Easy controlling for wine process.
  - Easy installer wizard for wine applications.
  - Autostart icons support.
  - Easy CD-image use.
  - You can extract icons from PE files (.exe .dll).
  - Easy backup and restore for managed prefixes.
  - Winetricks support.
  - And more...
